<div class="container">
  <div class="logo-image" style="text-align: center;">
    <img src="./assets/logo.svg" alt="">
  </div>

  <div class="weather">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <div class="text">
            <strong>Air Quality</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="degree">
                  <h3>{{weatherData.wind.speed | number:'1.0-0'}}</h3>
                </div>
              </div>
              <div class="col-md-6">
                <h5> <i class="bi bi-arrow-up"></i> {{weatherData.wind.deg | number:'1.0-0'}}</h5>
                <hr>
                <h5><i class="bi bi-arrow-down"></i> {{weatherData.wind.gust | number:'1.0-0'}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <div class="text">
            <strong>Tempreture</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="degree2">
                  <h4>{{weatherData.main.temp | number:'1.0-0'}}°F
                  </h4>
                </div>
              </div>
              <div class="col-md-6">
                <h5>
                  <span>
                    <img src="./assets/fire.svg" alt="">
                  </span>{{weatherData.main.temp_max | number:'1.0-0'}}°F
                </h5>
                <hr>
                <h5>
                  <span>
                    <img src="./assets/snowflake.svg" alt="">
                  </span>{{weatherData.main.temp_min | number:'1.0-0'}}°F
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
          <div class="text">
            <strong>Audio</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <h1 class="last2">{{weatherData.clouds.all | number:'1.0-0'}}</h1>
              </div>
              <div class="col-md-4">
                <div class="play"><strong>playing</strong></div>
              </div>
              <div class="col-md-4">
                <p class="total">Total</p>5
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="width: 20rem">
            <div class="text">
              <strong>Displays</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h2>{{weatherData.visibility/100}}<span>/16</span></h2>
                </div>
                <div class="col-md-6">
                  <p>on time</p>
                  00:00
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card" style="width: 20rem;">
            <div class="text">
              <strong>Lighting</strong>
            </div>
            <div class="card-body last">
              <div class="row">
                <div class="col-md-4">
                  <h1 class="light">{{weatherData.timezone/100}}</h1>
                </div>
                <div class="col-md-4">
                  {{weatherData.sys.sunrise}}
                </div>
                <div class="col-md-4">
                  {{weatherData.sys.sunset}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>